<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucas' CV Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="./assets/img/favicon.png" rel="icon">
    <link href="./assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet">

    <!-- vendor CSS files -->

    <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="./assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="./assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="./assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="./assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



    <!-- my css -->
    <link rel="stylesheet" href="./styles.css"/>
        
        
</head>
<!-- navbar section -->
<body>

    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><i class="fas fa-code"></i> LUCAS KOHANEVIC RADICE  </a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>  <!--  shift + alt + downkey kopioi tämän rivin alemmas -->  
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item"> <!-- li.navbar__item + tab luo <li> elementin, jolla navbar_item class --> 
                    <a href="aboutMe.html" class="navbar__links">
                        About me
                    </a> 
                </li> 

                <li class="navbar__item"> <!-- li.navbar__item + tab luo <li> elementin, jolla navbar_item class --> 
                    <a href="./javaScript.html" class="navbar__links">
                        JavaScript work
                    </a> 
                </li> 

                <li class="navbar__item"> <!-- li.navbar__item + tab luo <li> elementin, jolla navbar_item class --> 
                    <a href="./python.html" class="navbar__links">
                        Python work
                    </a> 
                </li> 

                <li class="navbar__item"> <!-- li.navbar__item + tab luo <li> elementin, jolla navbar_item class --> 
                    <a href="./resume.html" class="navbar__links">
                        Resume
                    </a> 
                </li> 



            </ul> 
        </div>
    </nav>

    <!-- hero section --> 

    <div class="main">
        <div class="main__container__aboutMe">
            <div class="main__content__aboutMe">


                <h1>Interest turned into</h1>
                    <h2>Passion</h2>
                    <br>
                    <p>Hi there! My name is <span class="highlightme">Lucas Kohanevic Radice.</span>I am 24-years old and I live in Espoo, Kilo. <br> <br> 
                        My interest in programming arose while I was studying Biochemical engineering in 2019 - 2020. I had friends that were studying in the field and through that
                        I got acquainted with this field. The more I looked into the field the more excited I got and the more I wanted to make the transition. <br>
                        I tried my best to switch from Biochemical engineering to IT-engineering, but since It did not seem possible at the time, due to the lack of the schools resources,
                        I took matters into my own hands and started self-studying university programming courses. Fast forward about a year and here we are!
                         All stacked up and ready to land my first programming job! 
                          <br><br>
                        I've been studying programming for a little less than a year now. In this time I've learned: <br><br>
                        
                        <div class="skills__aboutMe">
                        <i class="far fa-arrow-alt-circle-right"></i> Python <br>
                        <i class="far fa-arrow-alt-circle-right"></i> SQL <br>
                        <i class="far fa-arrow-alt-circle-right"></i> JavaScript(React.js, Node.js Deno.js)  <br>
                        <i class="far fa-arrow-alt-circle-right"></i> HTML <br>
                        <i class="far fa-arrow-alt-circle-right"></i> CSS <br>
                        <i class="far fa-arrow-alt-circle-right"></i> Version control: Git, GitHub <br>
                        <i class="far fa-arrow-alt-circle-right"></i> Deployment technologies: Heroku <br>
                        </div>
                        <br>

                        
                        <h2>Current plans</h2> <br>

                        <span class="highlightme">I am NOW actively looking for work.</span> Having spoken with various people from the field, 
                        I am confident that my skills would now suffice in <span class="highlightme">junior/trainee</span>level jobs. Ofcourse I am still actively 
                        expanding my knowledge and skills whilst looking for work.
                        <br> <br>
                        My next step is to get my <span class="highlightme">AWS & Azure</span>certificates and finish the
                        <span class="highlightme">FullStackOpen2022</span>course. 
                        <br>
                        
                    </p>
            </div>
            <div class="main__img--container__aboutMe">
                <img src="./images/apensador1.jpg" alt="pic" id="main__img__aboutMe">
            </div>
        </div>
    </div>

    <!-- services section -->



    <!-- footer section -->

    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>Contact me</h2>
                    <a href="mailto:">Lucas.KohanevicRadice@hotmail.com</a>
                    <a href="https://github.com/LucasKohanevicRadice">My GitHub</a>
                    <a href="https://www.linkedin.com/in/lucas-kohanevic-radice-b79171219/">My LinkedIn</a>
                    <p>+358 44 976 1501</p>
                </div>
            </div>
        </div>

        <div class="social__media">
            <div class="social__media--wrap">
                <p class="website__rights">All rights reserved</p>
                <div class="social__icons">
                    <a href="https://github.com/LucasKohanevicRadice" class="social__icon--link" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/lucas-kohanevic-radice-b79171219/" class="social__icon--link" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="./code.js"></script>

    <!-- vendor JS files -->
    <script src="./assets/vendor/purecounter/purecounter.js"></script>
    <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="./assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main Js file -->
    <script src="./assets/js/main.js"></script>
</body>
</html>