* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Kumbh Sans", sans-serif;
}

.navbar {
    background: #131313;
    opacity: 1;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.11rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.7rem;

}

.fa-gem {
    margin-right: 0.5rem;

}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: rgb(255, 255, 255);
}

.button:hover {
    background: #4873ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}


/* Main section CSS */

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center; 
    margin: 5% auto;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}


.main__content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}



/* Hero section aboutMe.html  */
.main__container__aboutMe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 2% auto;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


.main__content__aboutMe {
    margin-top: 5%;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
}


.main__content__aboutMe h1 {
    font-size: 3rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content__aboutMe h2 {
    font-size: 3rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

/* Main Section javaScript.html */

.main__container__javaScript {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 5% auto;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


.main__content__javaScript {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
}


.main__content__javaScript h1 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content__javaScript h2 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

/* Main content python */

.main__container__python {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 5% auto;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}


.main__content__python {
    margin-top: 0;
    font-size: 1.3rem;
    font-weight: 700;
    color: #fff;
}


.main__content__python h1 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content__python h2 {
    font-size: 2.5rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content__python p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
}

.main__content__python a {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.main__img--container__python {
    margin-top: 0;
    text-align: center;
}

#main__img__python {
    border-radius: 600px;
    height: 60%;
    width: 60%;
}

/* End of Main python section */



#github-icon {  

    font-size: 100px;
    color: #fff;
    transition: 0.3s ease-out;

}



.social__icon--link:hover #github-icon {

    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    transition: 0.3s;

}

#github-icon__python {
    font-size: 100px;
    color: #fff;
    transition: 0.3s ease-out;
    align-items: center;
    
}

.social__icon--link:hover #github-icon__python {

    background-color: #31ff08;
    background-image: linear-gradient(
        to top,
        #6bff08 20%,
        #52d32a 50%,
        #28a332 70%,
        #25692b 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
    transition: 0.3s;

}


.highlightme {

    background-color: #ff8177;
    background-image: linear-gradient(
    to right, 
    #ff8177 0%, 
    #ff867a 0%,
    #ff8c7f 21%, 
    #f99185 51%, 
    #cf556c 78%, 
    #b12a5b 100%
    );
    margin-right: 10px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}

.highlightme__blue {

    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.highlightme__green {

    background-color: #31ff08;
    background-image: linear-gradient(
        to top,
        #6bff08 20%,
        #52d32a 50%,
        #28a332 70%,
        #25692b 100%);
    
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

}


.fa-js {
    padding-right: 10px;
}

.fa-arrow-alt-circle-right {
    background-color: #ff8177;
    background-image: linear-gradient(
    to right, 
    #ff8177 0%, 
    #ff867a 0%,
    #ff8c7f 21%, 
    #f99185 51%, 
    #cf556c 78%, 
    #b12a5b 100%
    );
    margin-right: 10px;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.main__content__python .fa-arrow-alt-circle-right {
    background-color: #31ff08;
    background-image: linear-gradient(
        to top,
        #6bff08 20%,
        #52d32a 50%,
        #28a332 70%,
        #25692b 100%);
    
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}



.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 8px;
    color: #fff;
    margin-top: 0;
    cursor: pointer;
    position: relative;
    transition: all 0.5s;
    outline: none;
}

.main__btn a {
    position: relative;
    z-index: 2;
    color:#fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background:#4837ff ;
    transition: all 0.35s;
    border-radius: 4px;
}

.main__btn:hover {
    color:#fff;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: center;
}


#main__img {
    border-radius: 600px;
    height: 60%;
    width: 60%;
}

.main__img--container__aboutMe {
    margin-top: 0;
    text-align: center;
}

#main__img__aboutMe {
    border-radius: 600px;
    height: 60%;
    width: 60%;
}


/* Services section CSS */

.services {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services h1 {
    background-color: #ff8177;
    background-image: linear-gradient(
    to right, 
    #ff8177 0%, 
    #ff867a 0%,
    #ff8c7f 21%, 
    #f99185 51%, 
    #cf556c 78%, 
    #b12a5b 100%
    );

    background-size: 100%;
    margin-bottom: 0;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.services__container { 
    /* margin-top: 10%; */
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.services__card {
    /* margin: 0;  */
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/gitarro.jpg');
        background-size: cover;
        position: relative;
        color: #fff;
}

.services__card:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/barbell.jpg');
        background-size: cover;
        position: relative;
        color: #fff;

}


.services h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card p {
    position: absolute;
    top: 400px;
    left: 30px;
}

.services__card button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 440px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

/* services javaScript.html */

.services__javaScript {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services__javaScript h1 {
    background-color: #ff8177;
    background-image: linear-gradient(
    to right, 
    #ff8177 0%, 
    #ff867a 0%,
    #ff8c7f 21%, 
    #f99185 51%, 
    #cf556c 78%, 
    #b12a5b 100%
    );

    background-size: 100%;
    margin-bottom: 0;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.services__container__javaScript {
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.services__card__javaScript {
    /* margin: 0; */
    padding: 0% 50px;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/creditcard.jpeg');
        background-size: cover;
        position: relative;
        color: #fff;
}

.services__card__javaScript:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/upload-file.png');
        background-size: cover;
        position: relative;
        color: #fff;

}

.services__card__javaScript:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/gowSymbol.png');
        background-size: cover;
        position: relative;
        color: #fff;

}

.services__card__javaScript:nth-child(4) {
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/fuji.jpeg');
        background-size: cover;
        position: relative;
        color: #fff;

}

.services__javaScript h2 {
    position: absolute;
    top: 350px;
    left: 30px;
}

.services__card__javaScript p {
    position: absolute;
    top: 400px;
    left: 30px;
    padding: 0 10px;
}

.services__card__javaScript button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 460px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card__javaScript:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
}


/* Services python */


.services__python {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services__python h1 {
    background-color: #31ff08;
    background-image: linear-gradient(
        to top,
        #6bff08 20%,
        #52d32a 50%,
        #28a332 70%,
        #25692b 100%);
    
    background-size: 100%;
    margin-bottom: 0;
    font-size: 2.5rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;
}

.services__container__python {
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
}

.services__card__python {
    /* margin: 0; */
    padding: 0% 50px;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/library.jpg');
        background-size: cover;
        position: relative;
        color: #fff;
}

.services__card__python:nth-child(2) {
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/monstamash_poster.png');
        background-size: cover;
        position: relative;
        color: #fff;

}

.services__card__python:nth-child(3) {
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/gowSymbol.png');
        background-size: cover;
        position: relative;
        color: #fff;

}

.services__card__python:nth-child(4) {
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0) 0%,
        rgba(17,17,17, 0.6) 100%),
        url('./images/fuji.jpeg');
        background-size: cover;
        position: relative;
        color: #fff;

}

.services__python h2 {
    position: absolute;
    top: 370px;
    left: 30px;
}

.services__card__python p {
    position: absolute;
    top: 420px;
    left: 20px;
    padding: 0 10px;
}

.services__card__python button {
    color: #fff;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    position: absolute;
    top: 460px;
    left: 30px;
    font-size: 1rem;
    cursor: pointer;
}

.services__card__python:hover {
    transform: scale(1.075);
    transition: 0.2s ease-in;
}

#python_monstermash_video {
    width: 60%;
    margin-left: 20%;
}


.video__section__python__text {
    margin: 5%;
    text-align: center;
    
}

.video__section__python__text h1 {

    background-color: #31ff08;
    background-image: linear-gradient(
        to top,
        #6bff08 20%,
        #52d32a 50%,
        #28a332 70%,
        #25692b 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 2%;
    text-align: center;

}

.video__section__python__text p {

    color: white;
    font-size: 1.3rem;

}


.video__section__python {
    background: #141414; 
    margin: 2% auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}



.videos__container__python {

    margin: 2% auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 50px;

}

.video__python h2 {

    background-color: #31ff08;
    background-image: linear-gradient(
        to top,
        #6bff08 20%,
        #52d32a 50%,
        #28a332 70%,
        #25692b 100%);
    
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color:transparent;

    margin-bottom: 5%;
    text-align: center;

}




/* Footer CSS */

.footer__container {
    background-color: #141414;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin: 0 auto; */
    align-items: center;
}

#footer__logo {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

#footer__logo:hover {
    color: #bd2828;
    transition: 0.3s ease-out;
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;

}

.footer__link--wrapper {
    display: flex;

}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    text-align: left;
    width: 250px;
    box-sizing: border-box;
    color: #fff;
    
}



.footer__link--items h2 {
    margin-bottom: 4%;

}

.footer__link--items > h2 {
    color: #fff;
}

.footer__link--items a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0;
    padding: 2px;
}

.footer__link--items a:hover {
    color: #bd2828;
    transition: 0.3s ease-out;
}

/* Social icons */

.social__icon--link {
    color: #fff;
    font-size: 24px;
}

.social__icon--link:hover {
    color: #bd2828;
    transition: 0.3s ease-out;
}

.social__media {
    clear: both;
    width: 60%;
    max-width: 1000px;
}


.social__media--wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
}

.social__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social__icons .fa-linkedin{
    padding: 0 10px;
}

.social__icons .fa-github{
    padding: 0 10px;
}


.social__logo {
    color: #fff;
    justify-self: flex-start;
    margin-left: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.website__rights {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    
}

  


.carousel-item {
    height: 20rem;
    background: #131313;
    background-image: url("./images/fuji.jpeg");
    color: white;
    position: relative;
    
}



.carousel__container {
    position: absolute;
    bottom: 0;
    left: 35%;
    right: 0;
    padding-bottom: 50px;

}


body {
    background-color: #131313 ;
}

.container {
    padding-top: 2%;
}

.resume .section-title {
    color: white;
    margin-top: 5%;
}

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(141, 29, 29);
  }
  .resume .resume-item {

    color: white;
    font-size: 20px;
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #cf556c;
    position: relative;
    
  }
  .resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #cf556c;
    margin-bottom: 10px;
  }

  .resume .resume-item h5 {
    font-size: 16px;
    background: rgba(184, 21, 21, 0.479);
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .resume .resume-item ul {
    padding-left: 20px;
  }
  .resume .resume-item ul li {
    padding-bottom: 10px;
  }
  .resume .resume-item:last-child {
    padding-bottom: 0;
  }
  .resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #cf556c;
    border: 2px solid #cf556c;
  }

  /*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
    overflow: hidden;
  }

  .testimonials .section-title {

    text-align: center;
    padding-bottom: 2.5%;

  }


  .testimonials .testimonial-item {
    box-sizing: content-box;
    text-align: center;
    min-height: 320px;
  }
  .testimonials .testimonial-item .testimonial-img {
    width: 90px;
    border-radius: 50%;
    margin: 0 auto;
  }
  .testimonials .testimonial-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
    color: #111;
  }
  .testimonials .testimonial-item h4 {
    font-size: 14px;
    color: #999;
    margin: 0;
  }
  .testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
    color: #c3e8fa;
    font-size: 26px;
  }
  .testimonials .testimonial-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
  }
  .testimonials .testimonial-item .quote-icon-right {
    display: inline-block;
    right: -5px;
    position: relative;
    top: 10px;
  }
  .testimonials .testimonial-item p {

    font-style: italic;
    margin: 0 15px 15px 15px;
    min-height: 280px;
    padding: 20px;
    background-color: #ff807785;
    background-image: linear-gradient(to top, #b921fffd 0%, #21d5fd00 100%);
    color: white;
    position: relative;
    margin-bottom: 35px;
    border-radius: 6px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  .testimonials .testimonial-item p::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid #b921fffd;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    position: absolute;
    bottom: -20px;
    left: calc(50% - 20px);
  }
  .testimonials .swiper-pagination {
    margin-top: 20px;
    position: relative;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: 1;
    border: 1px solid #149ddd;
  }
  .testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #149ddd;
  }


  /* Mobile responsive */

@media screen and (max-width: 1280px) {

}


@media screen and (max-width: 1080px) {

    .social__media--wrap {
        flex-direction: column;
    }

}


@media screen and (max-width: 960px) {

    .navbar__container {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }
    .navbar__menu {
        display:grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;

    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        margin-top: 10px;
        margin-right: 35px;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media screen and (max-width: 864px) {

}


@media screen and (max-width: 768px) {




    /* - aboutMe - */

    .main__container__aboutMe {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 2% auto;
        width: 100%;    
        margin-top: 0;
    }

    .main__content__aboutMe {
        text-align: center;
        margin-bottom: 0;


    }

    .main__content__aboutMe h1 {
        font-size: 2.5rem;
        margin-top: 0;
    }

    .main__content__aboutMe h2 {
        font-size: 3rem;
    }

    .main__content__aboutMe p {
        margin-top: 0;
        font-size: 1.5rem;
    }


    .skills__aboutMe {
        text-align: left;
        padding-left: 25%;
    }


    /* - JavaScript - */
    

    .main__container__javaScript {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 2% auto;
        width: 100%;
        margin-top: 0;

    }

    .main__content__javaScript {
        text-align: center;
        margin-bottom: 0;

    }

    .main__content__javaScript h1 {
        font-size: 2.5rem;
        margin-top: 0;
    }

    .main__content__javaScript h2 {
        font-size: 3rem;
    }

    .main__content__javaScript p {
        margin-top: 0;
        font-size: 1.5rem;
    }
    
    .skills__javaScript{
        text-align: left;
        padding-left: 10%;
    }


    /* - python - */

    .main__container__python {

        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 2% auto;
        width: 100%;
        margin-top: 0;

    }

    .main__content__python {
        text-align: center;
        margin-bottom: 0;

    }

    .main__content__python h1 {
        font-size: 2.5rem;
        margin-top: 0;
    }

    .main__content__python h2 {
        font-size: 3rem;
    }

    .main__content__python p {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .skills__python {
        text-align: left;
        padding-left: 15%;
    }

    #main__img__python {
        margin-top: 5%;
    }

    

}


@media screen and (max-width: 640px) {

}

@media screen and (max-width: 555px) {

}

@media screen and (max-width: 480px) {


    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 2% auto;
        width: 100%;

    }

    .main__content {
        text-align: center;
        margin-bottom: 0;

    }

    .main__content h1 {
        font-size: 2rem;
        margin-top: 0;
    }

    .main__content h2 {
        font-size: 2rem;
    }

    .main__content p {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 0;
    }
    
    #main__img {
        
        margin-top: 5%;
        height: 50%;
        width: 50%;
    }

    #navbar__logo {
        font-size: 1.2rem;
    }

    .services h1 {
        font-size: 1.2rem;
    }

    .services__card {
        width: 300px;
    }

    /* JavaScript */

    .services__javaScript h1 {
        font-size: 1.2rem;
    }

    .services__card__javaScript {
        width: 300px;
    }

    .main__container__javaScript {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 5% auto;
        width: 100%;
    }

    .main__content__javaScript {
        text-align: center;
        margin-bottom: 0;

    }

    .main__content__javaScript h1 {
        font-size: 2rem;
        margin-top: 0;
    }

    .main__content__javaScript h2 {
        font-size: 2rem;
    }

    .main__content__javaScript p {
        margin-top: 0;
        font-size: 1.5rem;
    }

    .main__btn__javaScript {
        padding: 12px 36px;
        margin: 0;
    }

    /* Python */

    .services__python h1 {
        font-size: 1.2rem;
    }

    .services__card__python {
        width: 300px;
    }

    .main__container__python {

        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        margin: 5% auto;
        width: 100%;
    }

    .main__content__python {
        text-align: center;
        margin-bottom: 0;

    }

    .main__content__python h1 {
        font-size: 2rem;
        margin-top: 0;
    }

    .main__content__python h2 {
        font-size: 2rem;
    }

    .main__content__python p {
        margin-top: 0;
        margin-right: 5%;
        font-size: 1.5rem;
    }

    .main__content__python a {
        margin-top: 0;
        margin-right: 5%;
        font-size: 1.2rem;
    }

    .main__btn__python {
        padding: 12px 36px;
        margin: 0;
    }



}

