<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucas' CV Page</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="./assets/img/Lsmall.png" rel="icon">
    <link href="./assets/img/L.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;400;700&display=swap" rel="stylesheet">

    <!-- vendor CSS files -->

    <link href="./assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="./assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="./assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="./assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="./assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="./assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">



    <!-- my css -->
    <link rel="stylesheet" href="./styles.css"/>

</head>
<!-- navbar section -->
<body>

    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><i class="fas fa-code"></i> LUCAS KOHANEVIC RADICE  </a>
            <div class="navbar__toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>  <!--  shift + alt + downkey kopioi tämän rivin alemmas -->  
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item"> <!-- li.navbar__item + tab luo <li> elementin, jolla navbar_item class --> 
                    <a href="aboutMe.html" class="navbar__links">
                        About me
                    </a> 
                </li> 

                <li class="navbar__item"> <!-- li.navbar__item + tab luo <li> elementin, jolla navbar_item class --> 
                    <a href="./javaScript.html" class="navbar__links">
                        JavaScript work
                    </a> 
                </li> 

                <li class="navbar__item"> <!-- li.navbar__item + tab luo <li> elementin, jolla navbar_item class --> 
                    <a href="./python.html" class="navbar__links">
                        Python work
                    </a> 
                </li> 

                <li class="navbar__item"> <!-- li.navbar__item + tab luo <li> elementin, jolla navbar_item class --> 
                    <a href="./resume.html" class="navbar__links">
                        Resume
                    </a> 
                </li> 




            </ul> 
        </div>
    </nav>
    <!-- hero section -->
    <div class="main">
        <div class="main__container">
            <div class="main__content">
                <h1>FullStack</h1>
                    <h2>Developer</h2>
                    <p>Working to be the best in my field</p>
                    <button class="main__btn"><a href="./aboutMe.html">Get to know me</a></button> <br>
            </div>
            <div class="main__img--container">
                <img src="/images/aposs1_slim.jpg" alt="pic" id="main__img">
            </div>
        </div>
    </div>

    <!-- footer section -->

    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>Contact me</h2>
                    <a href="mailto:">Lucas.KohanevicRadice@hotmail.com</a>
                    <a href="https://github.com/LucasKohanevicRadice">My GitHub</a>
                    <a href="https://www.linkedin.com/in/lucas-kohanevic-radice-b79171219/">My LinkedIn</a>
                    <p>+358 44 976 1501</p>
                </div>
            </div>
        </div>

        <div class="social__media">
            <div class="social__media--wrap">
                <p class="website__rights">All rights reserved</p>
                <div class="social__icons">
                    <a href="https://github.com/LucasKohanevicRadice" class="social__icon--link" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/lucas-kohanevic-radice-b79171219/" class="social__icon--link" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="./code.js"></script>

    <!-- vendor JS files -->
    <script src="./assets/vendor/purecounter/purecounter.js"></script>
    <script src="./assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="./assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="./assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="./assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="./assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main Js file -->
    <script src="./assets/js/main.js"></script>
</body>
</html>